# Сгенерированные Python-файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы базы данных
database/sales.db

# Обработанные данные
data/processed/

# Опционально: игнорировать исходные данные, если они большие или не обязательны для контроля версий
# data/raw/

# Виртуальная среда (если используется)
venv/
env/

# Файлы, специфичные для IDE
.vscode/
.idea/

# Прочие временные файлы
*.log
*.tmp